<!DOCTYPE html>
<html>
<head>
  <title>TC's Trivia!</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
<style>
html, title {
  background-color:black;
}
html, body {
  margin:0;
  padding:0;
  height:100%;
}
.home-page {
  background-color:black;
  color:yellow;
  text-align:center;
  font-family:cursive;
}
.header {
   font-family:Fantasy;
}
</style>
</head>
<body> 
  
  <div class="home-page">
  <h3>Have you got what it takes?</h3>
  <h1 class='header'>To beat Tristan's Trivia!</h1>
  <form method="POST" action="/results"?>
  <p>Find x. -x^2 + 54 = -3x</p>
  <input type="radio" name="q1" value="9 and -6"> 9 and -6<br>
  <input type="radio" name="q1" value="-9 and 6"> -9 and 6<br>
  <input type="radio" name="q1" value="12 and -3"> 12 and -3<br>
  <input type="radio" name="q1" value="-12 and 3"> -12 and 3<br>
  <input type="radio" name="q1" value="none of the above"> none of the above<br>
  <p>What was the previous capitol of Russia?</p>
  <input type="radio" name="q2" value="moscow"> Moscow<br>
  <input type="radio" name="q2" value="stalingrad"> Stalingrad<br>
  <input type="radio" name="q2" value="omsk"> Omsk<br>
  <input type="radio" name="q2" value="saint petersburg"> Saint Petersburg<br>
  <input type="radio" name="q2" value="male"> Petograd<br>

  <p> The Pilgrim's form of government was originally?</p>
  <input type="radio" name="q3" value="democracy"> Democracy<br>
  <input type="radio" name="q3" value="communism"> Communism<br>
  <input type="radio" name="q3" value="monarchy"> Monarchy<br>
  <input type="radio" name="q3" value="despotism"> Despotism<br>
  <input type="radio" name="q3" value="republic"> Republic<br>

  <p>How many people have walked on the moon?</p>
  <input type="radio" name="q4" value="0"> 0<br>
  <input type="radio" name="q4" value="1"> 1<br>
  <input type="radio" name="q4" value="7"> 7<br>
  <input type="radio" name="q4" value="4"> 4<br>
  <input type="radio" name="q4" value="12"> 12<br>
  
  <p>How many countries are in the world?</p>
  <input type="radio" name="q5" value="163"> 163<br>
  <input type="radio" name="q5" value="212"> 212<br>
  <input type="radio" name="q5" value="192"> 192<br>
  <input type="radio" name="q5" value="196"> 196<br>
  <input type="radio" name="q5" value="234"> 234<br>
  <p><input type="submit"></p>
  </form>
    </div>



</body>
</html>

