<!DOCTYPE html>
<html>
  <style>
html, title {
  background-color:black;
}
html, body {
  margin:0;
  padding:0;
  height:100%;
}
.home-page {
  background-color:black;
  color:yellow;
  text-align:center;
  font-family:cursive;
}
.header {
   font-family:Fantasy;
  </style>
<head>
  <title>Results</title>
  <!-- links to CSS stylesheet in the public directory -->
  <link rel="stylesheet" href="/css/index.css" >
</head>
<body> 

  <div class="results-page">
    <h1>Your score: <%= @quiz.score %>/5!</h1>
    <h3><%= @quiz.message %></h3>

    
     <p> <a href="/">Try again</a></p>

  </div>

</body>
</html>